<!doctype html>
<html>
<head>
	<title> list <%=shopName%></title>
</head>
<body>
	<h1><%=shopName%> Shop</h1>
	<h2>Here are the books that we sell:</h2>
	<ul>
		<% for(let i = 0; i < availableBooks.length; i++) { %>
        <li><%= availableBooks[i].name %> , £<%= availableBooks[i].price %></li>
      <% } %>			
	</ul>

</body>	
</html>
