<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
  </head>
  <body>
    <h1>Register for the <%=shopName%></h1>
    <p>Register an account with us</p>
	<form method="POST" action="/registered">
		<p>First Name<input id="first" type="text" name="first" value="first name" /></p>
		<p>Last Name<input id="last" type="text" name="last" value="last name" /></p>
		<p>Email<input id="email" type="text" name="email" value="email@outlook.com" /></p>
	<input type="submit" value="OK" />
	</form>
  </body>
</html>
